[sssd]
config_file_version = 2
domains = {{ ldap_domain }}

[domain/{{ ldap_domain }}]
id_provider = ldap
auth_provider = ldap
ldap_uri = {{ ldap_uri }}
cache_credentials = True
ldap_search_base = {{ ldap_base_dn }}
